@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --main-color-pink: #E207B9;
    --main-color-yellow: #FFD02A;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    background-image: url('../img/pattern.png');
    background-size: contain;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    font-family: 'DM Mono';
    font-size: 20px;
}

main, header {
    padding: 1.5em;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.icon {
    width: 20px;
}

.pink {
    color: var(--main-color-pink);
}

/* **************** HEADER **************** */


nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: center;
    row-gap: 1em;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 15px 20px 15px 20px;
    background-color: white;
    border: solid 2px black;
    box-shadow: 10px 10px 0 var(--main-color-pink);
    width: 100%;
    height: fit-content;
}

nav ul a {
    display: flex;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 600;
    font-size: 30px;
    color: black;
}

nav img {
    height: 90px;
}

nav a:hover {
    color: var(--main-color-yellow);
}

/* **************** HOME **************** */

#home {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

#home div {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#home article {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
    border: solid 1px black;
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 5px black;
}

#home .title-block {
    text-align: center;
    font-size: 30px;
}

#home article div {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

#home .see-more {
    text-align: center;
    font-size: 15px;
}

#home .img-container {
    display: flex;
    justify-content: center;
}

#home h4 {
    font-family: 'M PLUS Rounded 1c';
    font-size: 25px;
}

#home div .last-project {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

/* **************** ABOUT **************** */


/* **************** ABOUT **************** */


/* **************** EXPERIENCE **************** */


/* **************** COMPETENCES **************** */

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#legend {
    display: flex;
    gap: 2em;
    font-size: 15px;
    background-color: white;
    padding: 1em;
    border: solid 1px black;
    box-shadow: 3px 3px 0 black;
}

#legend div {
    display: flex;
    gap: 1em;
}

#skills-items {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#skills-items {
    display: flex;
    row-gap: 2em;
}

#skills-items article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-items article div {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    padding-top: 2em;
}

#skills-items h3 {
    padding: 0.3em 0.5em 0.3em 0.5em;
    font-size: 30px;
    background-color: white;
    box-shadow: 5px 5px 0 black;
    border: solid 1px black;
}

#skills-items .small-logo {
    width: 80px;
}

#skills-items .big-logo {
    width: 144px;
}

#skills-items a img {
    transform: scale(1);
    transition: transform .5s; 
}

#skills-items a img:hover {
    transform: scale(1.2);
}

/* **************** PROJETS **************** */

#projects.inactive {
    display: none;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#projects section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4em;
}

#projects section article {
    width: calc(90% / 3);
}

#projects section article a {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(245, 245, 245, 1);
    padding: 2em;
    border-radius: 15px;
}

#projects section article a .container-img {
    width: 300px;
    display: flex;
    align-self: center;
}

#projects section article a img {
    width: 100%;
}

/* **************** FOOTER **************** */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    padding: 1em;
    background-color: black;
    color: white;
    font-size: 15px;
}

footer div {
    display: flex;
    align-items: center;
    gap: 2em;
}

footer div img {
    width: 20px;
}

footer div a:hover {
    filter: brightness(0) saturate(100%) invert(99%) sepia(86%) saturate(6792%) hue-rotate(326deg) brightness(97%) contrast(109%);
}

@media screen and (min-width: 1224px) {
    /* HEADER */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: row;
        width: fit-content;
    }
    nav li a.router-link-active.router-link-exact-active {
        color: var(--main-color-yellow);
    }
    /* HOME */
    #home div {
        flex-direction: row;
    }
    #home article {
        width: 50%;
    }
}
