@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Inria+Sans:wght@300;400;700&display=swap');

:root {
    --yellow-color: #DDC02C;
    --purple-color: #4C4C6D;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    font-family: 'Inria Sans';
    color: var(--purple-color);
    font-weight: 300;
}

a {
    color: var(--purple-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    filter: brightness(0) saturate(100%) invert(89%) sepia(87%) saturate(2881%) hue-rotate(328deg) brightness(88%) contrast(96%);
}

.title {
    font-family: 'Barlow Semi Condensed';
}

h2 {
    font-size: 30px;
}

/* **************** HEADER **************** */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Barlow Semi Condensed';
    font-size: 25px;
    padding: 1em;
}

nav #title-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

nav #subtitle-portfolio {
    display: flex;
    gap: 10px;
    font-style: italic;
    font-size: 20px;
}

nav #subtitle-portfolio img {
    width: 20px;
}

nav ul {
    display: flex;
    gap: 2em;
}

/* **************** FOOTER **************** */

footer {
    background-color: var(--purple-color);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
    color: white;
}

footer div {
    display: flex;
    gap: 2em;
}

/* **************** PROJETS **************** */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects #skills {
    display: flex;
    gap: 1em;
}
